<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nabux.projectgogo">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Log in Activity -->
        <activity
            android:name=".LogInActivity"
            android:label="@string/login_label"
            android:parentActivityName=".MainScreenActivity" />

        <!-- Regist Activity -->
        <activity
            android:name=".RegistActivity"
            android:label="@string/regist_label"
            android:parentActivityName=".MainScreenActivity" />

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/home_label" />
        <activity
            android:name=".StepActivity"
            android:label="@string/step_label" />
        <activity
            android:name=".BMIActivity"
            android:label="@string/bmi_label" />
        <activity
            android:name=".BPActivity"
            android:label="@string/bp_label" />
        <activity
            android:name=".xxxxxxxxxReportActivity"
            android:label="@string/report_label"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/helper_label"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ocr.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ocr.HelpActivity"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ocr.PreferencesActivity" />
        <activity android:name=".ReceiverActivity" />
        <activity
            android:name=".InputDataActivity"
            android:label="@string/input_data_label"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".xxxxxtabbed"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".AlarmReceiver" />

        <!--
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        -->

        <activity
            android:name=".SelectChartActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".health"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".TestMailActivity"
            android:label="@string/mail_test_label"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".BSActivity" />
        <activity android:name=".PulseActivity" />
        <activity android:name=".health_thisweek" />
        <activity android:name=".health_lastweek" />
        <activity android:name=".health_nearmonth" />
        <activity
            android:name=".HealthKnowledge.KnowledgeActivity"
            android:label="@string/title_activity_know"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HealthKnowledge.know_bmi" />
        <activity android:name=".HealthKnowledge.know_bp" />
        <activity android:name=".konw_step" />
        <activity android:name=".HealthKnowledge.know_step" />
        <activity android:name=".HealthKnowledge.know_bs" />
        <activity android:name=".HealthKnowledge.know_pulse" />
        <activity
            android:name=".MyHealthChart.BP_chart.BP_TABBED"
            android:label="@string/title_activity_bp__tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyHealthChart.BP_chart.BP_lastweek" />
        <activity android:name=".MyHealthChart.BP_chart.BP_thisweek" />
        <activity android:name=".MyHealthChart.BP_chart.BP_nearmonth" />
        <activity
            android:name=".MyHealthChart.Step_chart.STEP_TEBBED"
            android:label="@string/title_activity_step__tebbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyHealthChart.Step_chart.Step_lastweek" />
        <activity android:name=".MyHealthChart.Step_chart.Step_thisweek" />
        <activity android:name=".MyHealthChart.Step_chart.Step_nearmonth" />
        <activity
            android:name=".MyHealthChart.BS_chart.BS_TEBBED"
            android:label="@string/title_activity_bs__tebbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyHealthChart.Pulse_chart.PULSE_TABBED"
            android:label="@string/title_activity_pulse__tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyHealthChart.BS_chart.Bs_lastweek" />
        <activity android:name=".MyHealthChart.BS_chart.Bs_thisweek" />
        <activity android:name=".MyHealthChart.BS_chart.Bs_nearmonth" />
        <activity android:name=".MyHealthChart.Pulse_chart.Pulse_lastweek" />
        <activity android:name=".MyHealthChart.Pulse_chart.Pulse_thisweek" />
        <activity android:name=".MyHealthChart.Pulse_chart.Pulse_nearmonth"></activity>
    </application>

</manifest>